<div id="download">
    <div class="col-10 offset-1" style="text-align: center">
            <img src="./../../../assets/images/ui//battle.png" width="130" height="120" alt="">
            <h2> Wanna Play? Just download from your store</h2>
            <div class="container">
   
                <a href="https://itunes.apple.com/es/app/clash-royale/id1053012308?mt=8" target="_blank">  <button type="button" class="btn btn-lg btn-dark m-2"><i class="fab fa-apple"></i> Download</button> </a>
                <a href="https://play.google.com/store/apps/details?id=com.supercell.clashroyale&hl=es_419" target="_blank">   <button type="button" class="btn btn-lg btn-secondary  m-2"><i class="fab fa-google-play"></i> Download</button></a>
                  
            </div>
    </div>
    <div class="col-12" style="text-align: right"> 
            <a href="#busqueda">  <img  src="./../../../assets/images/ui/upgrade.png  " width="50" height="50" alt=""></a>
        </div>
</div>
<hr>